header{
    display: flex;
    justify-content: center;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 2vw;
    font-size: large;
    border-radius: 10vw;
}
footer{
    background-color: blue;
    text-align: center;
    color: white;
    padding: 2vw;
    font-size: large;
}
.resetButton{
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    width: 10vw;
}
.resetButton:hover{
    background-color: gray;
}
.resetButton:active{
    opacity: 0.6;
}
.board{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3,12vw);
    grid-template-rows: repeat(3,12vw);
    cursor: pointer;
    border:3px solid black;
}
.resetButton{
    pad: 3px;
}
.control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid black;
    font-family: "Water Brush", cursive;
    font-weight: bold;
    font-style: italic;
    color: rgb(224, 37, 37);
    font-size: 6vw;
}
.cell:hover{
    background-color: rgb(151, 102, 199);
}
.playerStaus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerStaus span{
    padding: 5px;
    border: solid black;
    border-radius: 10px;
}

#winTrack{
    display: flex;
    justify-content: center;
    align-items: center;
}